nav {
  height: 8rem;
  width: 100vw;
  background: transparent;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.show__nav {
  display: none;
}

.hide__nav {
  display: none;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  padding-bottom: 2rem;
}

/* Só aparece em telas médias e pequenas */
.nav__toggle-btn {
  display: none;
}

.nav__container {
  font-size: 1.7rem;
  font-weight: 500;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__links {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-bottom: 2rem;
}

.nav__links div {
  margin: 0 1rem 0 1rem;
}

.nav__links li a {
  display: flex;
}

.nav__links a {
  text-decoration: none;
  transition: var(--transition);
  color: var(--text-color);
}

.nav__links a:hover,
.nav__active a.active {
  color: var(--main-color);
}

.active-nav {
  position: relative;
  color: var(--main-color);
}

.active-nav::after {
  content: "";
  width: calc(100%);
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  position: absolute;
  border: 0.2rem solid var(--text-color);
  border-radius: 2rem;
}

.nav__toggle-btn {
  color: var(--text-color);
}

@media screen and (max-width: 1024px) {
  .nav__toggle-btn {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    cursor: pointer;
  }

  /* .nav__links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 0;
    perspective: 25rem;
  } */

  /* .show__nav {
    padding-top: 0rem;
    display: flex;
  } */

  .hide__nav {
    padding-top: 0rem;
    display: none;
  }
}
