*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary-hue: #0b0b0c;
  --primary-color: var(--primary-hue);
  --second-color: #202026ff;
  --text-color: #ededed;
  --main-color: #81d679;

  --container-with-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 95%;

  --transition: all 500ms ease;

  [data-theme="light"] {
    --primary-hue: #f9f8f6ff;
    --primary-color: var(--primary-hue);
    --second-color: #e2e2e2ff;
    --text-color: #131313;
    --main-color: #64919fff;
    background-image: none;
  }
}

/* [data-theme="light"] {
  --primary-hue: #f9f8f6ff;
  --primary-color: var(--primary-hue);
  --second-color: #e2e2e2ff;
  --text-color: #131313;
  --main-color: #64919fff;
  background-image: none;
} */

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-poppins), sans-serif;
  background: var(--primary-color);
  color: var(--text-color);
  line-height: 1.7;
  overflow-x: hidden;
  background-image: url(/images/bg-texture.png);
}

.container {
  width: var(--container-with-lg);
  margin: 0 auto;
  max-width: 1920px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

section {
  margin-top: 6rem;
  padding-top: 6rem;
  padding-bottom: 20rem;
}

section > h2,
section > h5 {
  text-align: center;
}

section > h2 {
  margin-bottom: 3rem;
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  background: var(--main-color);
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--primary-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  z-index: 1;
  overflow: hidden;
  transition: var(--transition);
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 4.5rem;
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

.notfound-error__container {
  margin-top: 10rem;
  text-align: center;
  padding-top: 8rem;
}

.notfound-error__container .btn {
  margin-top: 2rem;
  margin-bottom: 18rem;
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
