.about {
  background: var(--second-color);
  background-image: url(/images/bg-texture.png);
}

.about__container {
  gap: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about__img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__img img {
  width: 90%;
  border-radius: 50%;
  border: 0.2rem solid var(--main-color);
}

.about__img .about__circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--second-color);
  border-bottom: 0.2rem solid var(--second-color);
  border-left: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);
}

.about__content {
  text-align: center;
}

.about__content h3 {
  font-size: 2.6rem;
}

.about__content p {
  font-size: 1.6rem;
  margin: 2rem 18rem 3rem;
}

.about__btn-box .btn {
  width: 18rem;
  padding: 0.5rem 0 0.5rem 0;
}

.about__btn-box .btn div {
  margin-bottom: 0.2rem;
}

.about__btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-color);
  z-index: -1;
  transition: 0.5s;
}

.about__btn-box .btn:hover::before {
  width: 100%;
}

.about__btn-box a:hover {
  color: var(--main-color);
}
