.portfolio {
  background: var(--second-color);
  background-image: url(/images/bg-texture.png);
}

.portfolio__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
}

.portfolio__column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  text-align: center;
}

.portfolio__button-center {
  display: inline-block;
  text-align: center;
}

.portfolio__item {
  background: var(--primary-color);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--main-color);
  background: transparent;
}

.portfolio__item-image img {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item-button {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

@media screen and (max-width: 1326px) {
  .portfolio__column {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 755px) {
  .portfolio__item-image img {
    width: 30rem;
    height: 20rem;
  }
}

@media screen and (max-width: 280px) {
  .portfolio__item-image img {
    width: 25rem;
    height: 15rem;
  }
}
