footer {
  background-color: var(--main-color);
  padding: 3rem 0;
  text-align: center;
  font-size: 1.6rem;
  padding-top: 7rem;
}

footer a {
  color: var(--second-color);
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__socials a {
  background: var(--primary-color);
  color: var(--text-color);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer__socials a:hover {
  background: transparent;
  color: var(--second-color);
  border-color: var(--text-color);
}

.footer__copyright {
  margin-bottom: 4rem;
  color: var(--primary-color);
}

.footer__iconTop {
  text-align: end;
  margin-right: 18rem;
}

.footer__iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  color: var(--main-color);
  background: var(--primary-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  font-size: 2.4rem;
  z-index: 1;
  overflow: hidden;
}

.footer__iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--second-color);
  z-index: -1;
  transition: 0.5s;
}

.footer__iconTop a:hover::before {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .footer__iconTop {
    text-align: center;
    margin-right: 0;
  }

  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer__socials {
    margin-bottom: 2.6rem;
  }
}
