.clients__subtitle {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 13rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.container.clients__container {
  width: 40%;
  padding-bottom: 4rem;
}

.clients__client {
  background: var(--second-color);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.clients__client img {
  border-radius: 1.5rem;
  border: 0.5rem solid var(--main-color);
}

.clients__client-name {
  font-size: 1.6rem;
  color: var(--text-color);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--main-color);
}

@media screen and (max-width: 1365px) {
  .clients__container {
    width: 60%;
  }

  .clients__client img {
    width: 40rem;
    height: 20rem;
  }
}

@media screen and (max-width: 1085px) {
  .clients__container {
    width: 55%;
  }

  .clients__client img {
    width: 35rem;
  }
}

@media screen and (max-width: 1024px) {
  .clients__container {
    width: 60%;
  }

  .clients__client img {
    width: 30rem;
    height: 16rem;
  }
}

@media screen and (max-width: 970px) {
  .clients__container {
    width: 70%;
  }

  .clients__client img {
    width: 25rem;
  }
}

@media screen and (max-width: 725px) {
  .clients__container {
    width: 85%;
  }

  .clients__client img {
    width: 18rem;
    height: 12rem;
  }
}

@media screen and (max-width: 540px) {
  .clients__client img {
    width: 13rem;
    height: 10rem;
  }
}

@media screen and (max-width: 414px) {
  .clients__client img {
    width: 12rem;
    height: 10rem;
  }
}

@media screen and (max-width: 390px) {
  .clients__client img {
    width: 10rem;
    height: 7rem;
  }
}

@media screen and (max-width: 280px) {
  .clients__client img {
    width: 7rem;
    height: 4rem;
  }
}
