.clients__subtitle {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 13rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.container.clients__container {
  width: 40%;
  padding-bottom: 4rem;
}

.clients__client {
  background: var(--second-color);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.clients__client:hover {
  border: 2px solid var(--main-color);
  background: transparent;
}

.clients__client img {
  border-radius: 1.5rem;
  border: 0.5rem solid var(--main-color);
}

.clients__client-name {
  font-size: 1.6rem;
  color: var(--text-color);
}

.clients__client h5:hover {
  color: var(--main-color);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--main-color);
}

@media screen and (max-width: 1365px) {
  .clients__container {
    width: 60%;
  }

  .clients__client img {
    width: 40rem;
    height: 20rem;
  }
}

@media screen and (max-width: 1085px) {
  .clients__container {
    width: 55%;
  }

  .clients__client img {
    width: 35rem;
  }
}

@media screen and (max-width: 1024px) {
  .clients__container {
    width: 60%;
  }

  .clients__client img {
    width: 30rem;
    height: 16rem;
  }
}

@media screen and (max-width: 970px) {
  .container.clients__container {
    width: 60%;
  }

  .clients__client img {
    width: 40rem;
    height: 20rem;
  }
}

@media screen and (max-width: 725px) {
  .container.clients__container {
    width: 68%;
  }

  .clients__client img {
    width: 33rem;
    height: 17rem;
  }
}

@media screen and (max-width: 540px) {
  .container.clients__container {
    width: 80%;
  }

  .clients__client img {
    width: 30rem;
    height: 17rem;
  }

  .swiper-backface-hidden .swiper-slide {
    height: 25rem;
  }
}

@media screen and (max-width: 414px) {
  .clients__client img {
    width: 16rem;
    height: 10rem;
  }

  .container.clients__container {
    width: 55%;
  }
}

@media screen and (max-width: 390px) {
  .container.clients__container {
    width: 63%;
  }
  .clients__client img {
    width: 15rem;
    height: 10rem;
  }
}

@media screen and (max-width: 280px) {
  .clients__client img {
    width: 13rem;
    height: 8rem;
  }

  .clients__client-name {
    font-size: 1.4rem;
  }
}
