.journey {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding: 5rem 18rem 5rem 19rem;
}

.journey__img {
  margin-top: 10rem;
  width: 31%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--main-color),
    transparent
  );
  display: grid;
  place-items: center;
}

.journey__img-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.journey__img-image:hover {
  transform: rotate(0);
}

.journey__row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.journey__column {
  flex: 1 1 40rem;
}

.journey__column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.journey__box {
  border-left: 0.2rem solid var(--main-color);
}

.journey__content {
  position: relative;
  padding-left: 2rem;
}

.journey__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
}

.journey__content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.journey__content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}

.journey__content .content:hover::before {
  width: 100%;
}

.journey__content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}

.journey__content .content h3 {
  font-size: 2rem;
}

.journey__content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}
