.journey__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.journey__row {
  display: flex;
  flex-wrap: wrap;
  gap: 15rem;
}

.journey__column {
  flex: 1 1 40rem;
}

.journey__column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
  text-align: center;
}

.journey__box {
  border-left: 0.2rem solid var(--main-color);
}

.journey__content {
  position: relative;
  padding-left: 2rem;
}

.journey__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
}

.journey__content .content {
  position: relative;
  padding: 1.8rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.journey__content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}

.journey__content .content:hover::before {
  width: 100%;
}

.journey__content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}

.journey__content .content h3 {
  font-size: 2rem;
}

.journey__content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

.journey-background-image {
  width: 60rem;
  height: 73rem;
  background: linear-gradient(75deg, var(--main-color), transparent);
  border-radius: 50% 10% 10% 0;
  position: absolute;
  transition: var(--transition);
}

@media screen and (max-width: 1720px) {
  .journey-background-image {
    width: 55rem;
    height: 67rem;
  }

  .journey-background-image img {
    width: 55rem;
    height: 67rem;
  }
}

@media screen and (max-width: 1585px) {
  .journey__row {
    gap: 6rem;
  }

  .journey-background-image {
    width: 50rem;
    height: 67rem;
  }

  .journey-background-image img {
    width: 50rem;
    height: 67rem;
  }
}

@media screen and (max-width: 1260px) {
  .journey__row {
    gap: 5rem;
  }

  .journey-background-image {
    width: 45rem;
    height: 70rem;
  }

  .journey-background-image img {
    width: 45rem;
    height: 70rem;
  }
}

@media screen and (max-width: 1187px) {
  .journey__row {
    gap: 4rem;
  }

  .journey-background-image {
    width: 46rem;
    height: 68rem;
  }

  .journey-background-image img {
    width: 43rem;
    height: 68rem;

    object-fit: cover;
  }
}

@media screen and (max-width: 912px) {
  .journey-background-image {
    width: 65rem;
    height: 35rem;
  }

  .journey-background-image img {
    width: 30rem;
    height: 35rem;
  }
}

@media screen and (max-width: 830px) {
  .journey-background-image {
    width: 60rem;
    height: 32rem;
  }

  .journey-background-image img {
    width: 28rem;
    height: 32rem;
  }
}

@media screen and (max-width: 600px) {
  .journey-background-image {
    width: 35rem;
    height: 40rem;
  }

  .journey-background-image img {
    width: 35rem;
    height: 40rem;
  }
}

@media screen and (max-width: 540px) {
  .journey-background-image {
    width: 36rem;
    height: 35rem;
  }

  .journey-background-image img {
    width: 30rem;
    height: 35rem;
  }
}

@media screen and (max-width: 360px) {
  .journey-background-image {
    width: 30rem;
    height: 35rem;
  }

  .journey-background-image img {
    width: 20rem;
    height: 35rem;
  }
}

@media screen and (max-width: 280px) {
  .journey-background-image {
    width: 23rem;
    height: 35rem;
  }

  .journey-background-image img {
    width: 20rem;
    height: 35rem;
  }
}
