.skills {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: var(--second-color);
  background-image: url(/images/bg-texture.png);
}

.skills__container {
  text-align: center;
}

.skills__row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}

.skills__column {
  flex: 1 1 40rem;
}

.skills__column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.skills__images-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills__images {
  margin-top: 10rem;
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--main-color),
    transparent
  );
  display: grid;
  place-items: center;
}

.skills__images-tools {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.skills__images-tools:hover {
  transform: rotate(0);
}

.skills__content {
  position: relative;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  padding: 2rem 1rem 0 1rem;
  z-index: 1;
  overflow: hidden;
}

.skills__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}

.skills__colum-image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.skills__colum-image-back {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.skills__content:hover::before {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .skills__colum-image {
    grid-template-columns: repeat(3, 1fr);
  }

  .skills__colum-image-back {
    grid-template-columns: repeat(3, 1fr);
  }

  .skills__images {
    width: 62%;
  }

  .skills__images-tools img {
    width: 40rem;
    height: 40rem;
  }
}

@media screen and (max-width: 660px) {
  .skills__colum-image {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills__colum-image-back {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .skills__images {
    width: 92%;
  }

  .skills__images-tools img {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (max-width: 565px) {
  .skills__colum-image {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .skills__colum-image-back {
    grid-template-columns: 1fr;
  }
}
